.button {
    height: 120px;  
    padding: 0;
    margin: 0; 
    background: #e00000;
    width: 300px;
    box-shadow: 0 20px 0 0 #b00000;
    position: relative;
    
}

.button:active {
    box-shadow: 0 10px 0 0 #b00000;
    -moz-box-shadow: 0 10px 0 0 #b00000;
    -webkit-box-shadow: 0 10px 0 0 #b00000;
    top: 10px;
}

#buttontext {
    font-size: 200%;
    text-align:center;
    font-weight:bold; 
    line-height: 120px;
    margin-top: 25px;
    margin-bottom: 0px;
    color: white;
  }

a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    color: white;
    text-decoration: none;
  
}

