img {
  margin: 0;
  padding: 0;
}

.height {
  height: 100vh;
  top: 0;
  bottom: 0;
}

:focus {
  outline: none;
}

.LegP1ContainerFirst {
  display: none;
}

.LegP2No {
  margin-right: 20px;
}

.LegP3No {
  margin-right: 20px;
}

.LegP3Container {
  margin-left: 40px;
}
