img {
  margin: 0;
  padding: 0;
}

button {
  appearance: none;
  font-family: inherit;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  margin: 16px;
  padding: 8px;
}

.height {
  height: 100vh;
  top: 0;
  bottom: 0;
}

:focus {
  outline: none;
}

.LegP1ContainerFirst {
  display: none;
}

.LegP2No {
  margin-right: 20px;
}

.LegP3No {
  margin-right: 20px;
}

.LegP3Container {
  margin-left: 40px;
}

.LegAnnotations {
  padding: 10px 20px;
}

.LegAnnotationsGroupHeading {
  font-weight: bold;
  font-size: 30px;
}
